<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ModernUI.Properties.Settings.watchingConnectionString"
            connectionString="server=localhost;user id=root;password=gislaine;persistsecurityinfo=True;database=watching"
            providerName="MySql.Data.MySqlClient" />
        <add name="ModernUI.Properties.Settings.bdCryRptConnectionString"
            connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=bdCryRpt"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>